@import "tailwindcss";

/* add dark mode customizations */
@custom-variant dark (&:where(.dark, .dark *));

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}